<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246064396415-4kmvs7bqshih5bc0qdrsqedl75v01a13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246064396415-4kmvs7bqshih5bc0qdrsqedl75v01a13</string>
	<key>API_KEY</key>
	<string>AIzaSyDi8TBQTm-XPMWOp79bdNKygWvxifu9mWs</string>
	<key>GCM_SENDER_ID</key>
	<string>246064396415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rola.silva.lauro.rolaApp</string>
	<key>PROJECT_ID</key>
	<string>rolaapp-39102</string>
	<key>STORAGE_BUCKET</key>
	<string>rolaapp-39102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246064396415:ios:33a236cda41c2660d1a74a</string>
</dict>
</plist>